 html, body
{
	height: 100%;
	margin: 0;
}

#container
{
	height: 100%;
	padding: 0;
	color: white;
}

#hbar
{
	display: flex;
	width: 100%;
	height: 55px;
	background-color: #1e5c82;
}

#vbar
{
	flex-direction: column;
	float: left;
	width: 130px;
	height: 94%;
	background-color: #1e5c82;
}

#logo
{
	width: 130px;
	height: 100%;
	font-size: 18px;
	text-align: center;	
}

.itens
{
	height: 50px;
	font-size: 14px;
	/*text-align: center;*/
	padding-top: 3px;
	padding-left: 5px;
}
.itens > a
{
	color: white;
	text-decoration: none;
}
.item
{
	position: relative;
	height: 50px;
	font-size: 14px;
	/*text-align: center;*/
	padding-top: 3px;
	padding-left: 5px;
}
.item > a
{
	color: white;
	text-decoration: none;
}


/*.item > a:hover, #submenu a.over
{
	display: block;
}
*/

#submenu
{
   width: 70px;
   position: absolute;
   margin-left: 125px;
   height: 50px;
   font-size: 16px;
   /*text-align: center;*/
   padding-left: 5px;
   background-color: #1e5c82;
   display: none;
   
}

#submenu > a
{
	color: white;
	text-decoration: none;
}

.barra1
{
	width: 100%;
	height: 60px;
	margin: 0;
	background-color: rgb(236, 239, 245);
}

.texto1{
	width: 50%;
	height: 60px;
	margin: 0;
	font-size: 25px;
	padding-top: 20px;
	padding-left:150px;
	color: black;
	font-family: sans-serif;
}
.barra2
{
	width: 100%;
	height: 60px;
	margin: 0;
	background-color: white;
}

#campoPesquisa
{
	margin-top: 15px;
	margin-left: 40px;
	width: 450px;
	height: 30px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#buttons
{
	float: right;
	width: 40%;
	height: 60px;
	background-color: white;
}
.linha
{
	width: 100%;
	height: 4px;
	margin: 0;
	background-color: #1e5c82;
}
.btn
{
	margin-top: 10px;
	margin-left: 8px;
	width: 100px;
	height: 40px;
	border-style: none;
	border-radius: 2px;
	color: white;
}
.corpo
{
	width: 99%;
	height: 700px;
	margin: 0;
	border-style: solid;
	border-top-width: 1px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-color: black;
	background-color: white;
	color: black;
}


